.box-i{
    background-color: white;
    width: fit-content;
    padding: 20px 5px;
    height: 450px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

}
.image{
    height: 100px;
    width: 300px;
}
.content.in{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* padding: 20px; */
    margin: 10px;
    
}
.child{
    padding: 30px;
}
.button-d{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.button-d button{
    background-color: aqua;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.button-d button.add{
    background-color: rgb(185, 255, 79);
}
.button-d button.remove{
    background-color: rgb(255, 59, 59);
}
.modal {
	background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
	position: fixed;
    top: 20%;
    /* bottom: 50%; */
    right: 40%;
    /* left: 50%; */
    padding: 50px;

    display: flex;
    align-items: center;
    flex-direction: column;
	overflow: "auto";
	border-radius: "4px";
	outline: "none";
	padding: "20px";
}
.overlay{
    background-color: rgba(207, 207, 207, 0.733);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.m-content input{
    padding: 10px;
    margin: 10px;
    width: 300px;
    font-size: 15px;
}

.m-button{
    display: flex;
    flex-direction: column;
    

}
button.m-button-in{
    padding: 5px 10px;
    margin: 10px;

    width: 150px;
    font-size: 15px;
}
select{
    padding: 10px;
    margin: 10px;
    width: 300px;
    font-size: 15px;
}
.image img{
    
    object-fit: contain;
    max-width: 100%;
    /* max-height: 100%; */
}
.image{
    box-sizing: border-box;
    height: 150px;
    position: relative;
    overflow: hidden;
}