.filter {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 70px;
    align-items: center;
    margin-top: 80px;
}
.displayArea {
	background-color: rgb(199, 199, 199);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    padding: 15px;
}
.filter-1{
    padding: 5px;
}
.item {
	padding: 0px;
	margin: 0px;
}
