@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  font-family: Poppins;
}
.brand {
  font-weight: 600;
  margin-left: 20px;
  width: 80px;
  height: 80px;
  font-size: 27px;
}
.brand img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10%;
  cursor: pointer;
  border: 2px solid gray;
}
.Navbar {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  margin: 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  transition: 0.2s;
  
}
.notnavbar {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(207, 145, 64,0.9);
  
  margin: 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  transition: 0.3s;
}
.header {
  display: flex;
  justify-content: right;
  margin-right: 40px;
}
.header h1 {
  margin-right: 50px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  color: rgb(255, 255, 255);
  /* text-ou: 2px solid black; */
  text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header h1:hover {
  color: rgb(26, 25, 25);
  cursor: pointer;
  transform: translateY(-2px);
  border-bottom: 2px solid rgb(0, 0, 0);
}
