.content {
	/* background-color: aquamarine; */
	/* width: fit-content; */
	/* width: 100px; */
	padding: 20px 30px;
	/* margin-top: 30px; */
	/* border-right: 2px solid rgb(175, 175, 175); */
	/* background-color: aqua; */
    
}

.content_holder {
	display: flex;
	align-items: center;
	/* justify-content: center;
    box-sizing: border-box; */
	/* padding: 30px; */
	/* background-color: rgb(100, 100, 247); */
	
}
.content_holder:hover{
	display: flex;
	align-items: center;
	/* justify-content: center;
    box-sizing: border-box; */
	/* padding: 30px; */
	/* background-color: rgb(100, 100, 247); */
	/* color: white; */
	border-radius: 8px;
	padding: 3px 4px;
	font-size: 22px;
	transition: 0.3s;
}
/* .li_content li .content_holder:hover{
	color: aquamarine;
} */
/* .content_holder a:hover{
	background-color: rgb(100, 100, 247);
	color: white;
	transition: 0.3s;

} */
.content_holder a{
	text-decoration: none;
	color: black;
}
/* .content_holder .icon:hover{
	color: white;
} */
.inlist {
	/* display: flex;
    align-items: center;
    justify-content: center; */
}
.icon {
	font-size: 20px;
	color: rgb(3, 3, 3);
	/* box-sizing: content-box; */
	display: flex;
	align-items: center;
	margin-right: 6px;
}
.li_content li {
	list-style: none;
	display: flex;
	align-items: center;
	/* padding: 10px; */
	margin: 10px 0px 0px 10px;
	flex-direction: row;
	/* justify-content: center; */
}

.title {
	padding-top: 30px;
	/* color: antiquewhite; */
}
.main1 {
	background-color: rgb(255, 255, 255);
	/* margin-top: 70px; */
	/* width: fit-content; */
	width: 13em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
	font-size: 20px;
	height: 100%;
}

.logo {
	background-image: url("../../images/Sivamtraders.png");
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	/* margin: 20px; */
    /* background-color: rgb(61, 86, 109); */
}
