.ourProducts {
  text-align: center;
  margin: 10px 10px;
  font-size: 25px;
  font-weight: 600;
}
.products {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.column {
  position: relative;
  transition: 0.5s;
}
.column:hover img {
  filter: blur(5px);
  cursor: pointer;
}
.column:hover .text {
  color: antiquewhite;
  display: block;
}
.column > .text {
  position: absolute;
  top: 40%;
  left: 32%;
  display: none;
}
.column > :first-child > h3 {
  display: none;
}
