.box {
	/* border: 2px solid black; */
	padding: 30px 70px;
	/* margin: 50px; */
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.856);
	margin: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box_holder {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
	padding: 5px 20px;
}
.chart {
	background-image: url("../../images/chart.png");
	width: 50%;
	height: 50vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.main {
	display: flex;
	flex-direction: row;
}
.box{
	font-size: 20px;
}
/* .contentArea{

} */
