.btn{
    padding: 9px;
    display: flex;
    flex-direction: row;
}
.btn button{
    padding: 3px 4px;
    margin: 3px;
    border: none;
    font-size: 18px;
}

.accept button{
    background-color: rgb(92, 238, 92);
    color: white;
}
.deny button{
    background-color: rgb(238, 92, 92);
    color: white;
}
.box{
    background-color: white;
    width: fit-content;
    padding: 13px;
    margin: 20px;
    border: 1px solid rgb(139, 139, 139);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.content{
    display: flex;
    flex-direction: row;
}
.oarea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.completed{
    background-color: rgb(115, 255, 1);
    color: rgb(85, 85, 85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;padding: 15px;
    margin: 10px;
}